/* VARS */

:root {
    --start-column-width: 20vw;
}


/* BASE */

.base-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main";
    grid-template-rows: 3.5rem auto;
    grid-template-columns: var(--start-column-width) auto;
    row-gap: 2rem;

    font-family: 'Inter', sans-serif;
    background-color: var(--base-bgcolor);
    color: var(--base-color);
    border-radius: 40px;
    width: 99vw;
    min-width: 355px;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box; 
}

@media (max-width: 1023px) {

    .base-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

/* HIDING COMPONENTS */
.show {
    display: flex !important;
}

.hidden {
    display: none !important;
}