/* MENU */

.menu-container {
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {

    .menu-container {
        display: none;
        position: absolute;
        width: 254px;
        height: 500px;
        top: 100px;
        right: 25px;
        padding: 1.5rem;
        background-color: var(--menu-bgcolor-responsive);
        border-radius: 8px;
        box-sizing: border-box;
        z-index: 1;
    }
}

/* MENU TITLE */
.menu-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

@media (max-width: 1023px) {
    .menu-title {
        display: none;
    }
}

/* MENU LIST */
.menu-list {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

@media (max-width: 1023px) {
    .menu-list {
        border-bottom: 2px solid var(--menu-border-responsive);
        padding-bottom: 2rem;
    }
}

/* MENU USER BUTTON */
.menu-user-button {
    display: none;
}

@media (max-width: 1023px) {
    .menu-user-button {
        display: flex;
        margin-top: 1rem;
    }
}

/* MENU ITEM AND MENU ICON COMPONENTS */

.menu-item a {
    display: flex;
    align-items: center;
    color: var(--menu-link-color);
    transition: 500ms;
}

.menu-item a:hover {
    color: var(--menu-link-color-hover);  
}

.menu-item a.active {
    color: var(--menu-link-color-active);
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 500ms;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--menu-icon-bgcolor);
}

.menu-item a:hover .menu-icon {
    background-color: var(--menu-icon-bgcolor-hover); 
}
.menu-icon-hover {
    background: rgba(80, 129, 251, 0.64);
}

.menu-item a.active .menu-icon {
    background-color: var(--menu-icon-bgcolor-active);
}
.menu-icon-active {
    background: #5081FB;
}

.menu-icon svg {
    fill: var(--menu-icon-color);
    transition: 500ms;
}

.menu-item a:hover svg {
    fill: var(--menu-icon-color-hover);
}
.menu-icon-hover svg {
    fill: #FFFFFF;
}

.menu-item a.active svg {
    fill: var(--menu-icon-color-active);
}
.menu-icon-active svg {
    fill: #FFFFFF;
}
