/* PROJECT CARD */

.project-card {
    width: 100%;
    height: min-content;
    border-radius: 0.5rem;
    background-color: var(--project-card-bgcolor);
} 

.project-details {
    padding: 1.5rem;
}

.project-title {
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.project-description {
    opacity: 80%;
    font-weight: 200;
}

.project-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.project-footer-guide {
    display: flex;
}

.project-card:hover .project-footer {
    display: flex;
}

.project-interaction {
    display: flex;
    align-items: center;
}

.project-likes, .project-comments {
    margin-left: 0.625rem;
}