/* VARS */

:root {
    --start-width: 22vw;
    --end-width: 22vw;
}

/* BASE */

.base-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "menu main tools";
    grid-template-rows: 3.5rem auto;
    grid-template-columns: var(--start-width) auto var(--end-width);

    font-family: 'Inter', sans-serif;
    background-color: #051D3B;
    color: white;
    border-radius: 40px;
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box; 
}

@media (max-width: 1023px) {

    .base-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.card-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

.card-content {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

/* CONTROLS */

.base-control {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.base-input {
    background-color: #FFFFFF16;
    color: #FFFFFF84;
    padding: 0 1rem;
}

.base-input:hover {
    background-color: #FFFFFF24;
}

.base-textarea {
    background-color: #FFFFFF16;
    color: #FFFFFF84;
    height: 5rem;
    padding: 1rem 1rem;
    resize: none;
}

.base-textarea:hover {
    background-color: #FFFFFF24;
}