/* FORM COMPONENTS */

.base-control {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.base-input {
    background-color: #FFFFFF16;
    color: #FFFFFF84;
    padding: 0 1rem;
    transition: 500ms;
}

.base-input:hover {
    background-color: #FFFFFF24;
}

.base-select {
    background-color: #FFFFFF16;
    color: #FFFFFF84;
    padding: 0 1rem;
    cursor: pointer;
    transition: 500ms;
}

.base-select:hover {
    background-color: #FFFFFF24;
}

.base-select option {
    background-color: #051D3B;
}

.base-textarea {
    background-color: #FFFFFF16;
    color: #FFFFFF84;
    height: 5rem;
    padding: 1rem 1rem;
    resize: none;
    transition: 500ms;
}

.base-textarea:hover {
    background-color: #FFFFFF24;
}

/* FORM CARD COMPONENT */

.form-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.form-card-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

.form-card-content {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

/* PROJECT CARD */
.project-card {
    width: 100%;
    height: min-content;
    border-radius: 0.5rem;
    background-color: #00000016;
} 

.project-snapshot {
    height: 18rem;
    border-radius: 0.5rem;
    background-color:#6BD1FF;
}

.project-details {
    padding: 1.5rem;
}

.project-title {
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.project-description {
    opacity: 80%;
    font-weight: 200;
}

.project-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.project-card:hover .project-footer {
    display: flex;
}

.project-interaction {
    display: flex;
    align-items: center;
}

.liked {
    background-color: #F65151;
}

.project-likes, .project-comments {
    margin-left: 0.625rem;
}


/* USER COMPONENT */
.user-component {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition: 500ms;
    cursor: pointer;
}

.uc-medium {
    width: 6.625rem; 
    height: 3.5rem;
    padding: 0 0.75rem;
}

.uc-small {
    width: 5.625rem; 
    height: 2.5rem;
    padding: 0 0.5rem;
}

.user-component:hover {
    background-color: #FFFFFF08;
}

.user-photo {
    margin-right: 0.5rem;
    border-radius: 100%;
}

.uf-medium {
    width: 2rem;
    height: 2rem;
}

.uf-small {
    width: 1.5rem;
    height: 1.5rem;
}

.user-name {
    line-height: 1.5rem;
}



/* ICON COMPONENT */
.icon-component {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 500ms;
}

.ic-square {
    width: 3rem;
    height: 3rem;
}

.ic-rect {
    width: 3.625rem;
    height: 2.5rem;
}

.icon-component:hover {
    background-color: #FFFFFF08;
}

.icon {
    font-size: 1.25rem;
}

/* MAC BUTTONS COMPONENT */
.mac-buttons-component {
    display: flex;
    justify-content: space-between;
    width: 3.25rem;
}

.mac-buttons-component li {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
}

.mac-buttons-component li:nth-child(1) {
    background-color: #FF5F56;
}

.mac-buttons-component li:nth-child(2) {
    background-color: #FFBD2E;
}

.mac-buttons-component li:nth-child(3) {
    background-color: #27C93F;
}

/* HIDING COMPONENTS */
.show {
    display: flex !important;
}

.hidden {
    display: none !important;
}