/* MAIN */

.main-container {
    grid-area: main;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .main-container {
        flex-direction: column;
    }    
}

/* ------------------CODE CONTAINER-------------------- */

.code-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 44rem;
}

@media (max-width: 1023px) {
    .code-container {
        margin-bottom: 3rem;
        max-width: none;
    }
}

/* CODE COMPONENT */

.code-component {
    border-radius: 8px;
    background-color: #6BD1FF;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.code-subcontainer {
    display: flex;
    flex-direction: column;
    background: #141414;    
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
}

.code-content {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 18px;
    background-color: inherit;
    color: inherit;
    border: none;
    height: 235px;
}

.cc-small {
    height: 150px;
}

/* HIGHLIGHT BUTTON */

.highlight-button {
    background-color: #5081FB08;
    margin-top: 1rem;
    color: #FFFFFF;
    transition: 500ms;
    cursor: pointer;
} 

.highlight-button:hover {
    background-color: #5081FB16;
}

.highlight-button:active {
    background-color: #5081FB24;
}

/* ----------------------FORM CONTAINER---------------------- */

.form-container {
    margin-left: 2rem;
}

@media (max-width: 1023px) {

    .form-container {
        margin-left: 0;
    }

}

/* CUSTOMIZATION SECTION */

.color-picker {
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    height: 3.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem;
    background-color: #C4C4C401;
    cursor: pointer;
}

@media (max-width: 1023px) {

    .resposive-customization-content {
        grid-auto-flow: column;
        grid-auto-columns: calc(50% - 0.5rem);
    }
}

@media (max-width: 767px) {

    .resposive-customization-content {
        grid-auto-flow: row;
        grid-auto-columns: 100%;
    }
}

/* SAVE BUTTON */

.save-button {
    background-color: #5081FB;
    color: #051D3B;
    border-radius: 8px;
    border: none;
    transition: 500ms;
    cursor: pointer;
}

.save-button:hover {
    background-color: #7BA4FC;
}


.save-button:active {
    background-color: #96B9FD;
}

/* ------------------PROJECTS CONTAINER---------------------- */

.projects-container {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    gap: 2rem;
    width: 100%;
}

@media (max-width: 1023px) {
    .projects-container {
        display: flex;
        flex-direction: column;
    }
}

