/* MENU */

.menu-container {
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {

    .menu-container {
        display: none;
        position: absolute;
        width: 254px;
        height: 500px;
        top: 100px;
        right: 25px;
        padding: 1.5rem;
        background-color: #2D415B;
        border-radius: 8px;
        box-sizing: border-box;
        z-index: 1;
    }
}

/* MENU TITLE */
.menu-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

@media (max-width: 1023px) {
    .menu-title {
        display: none;
    }
}

/* MENU LIST */
.menu-list {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

@media (max-width: 1023px) {
    .menu-list {
        border-bottom: 2px solid #FFFFFF08;
        padding-bottom: 2rem;
    }
}

/* MENU ITEM & MENU ICON */
.menu-item a {
    display: flex;
    align-items: center;
    color: #FFFFFF56;
    transition: 500ms;
}

.menu-item a:hover {
    color: #FFFFFF72;  
}

.menu-item a.active {
    color: #FFFFFF;
}

.menu-icon {
    margin-right: 1rem;
    background-color: #5081FB16;
    transition: 500ms;
}

.menu-item a:hover .menu-icon {
    background-color: #5081FB64;  
}

.menu-item a.active .menu-icon {
    background-color: #5081FB;
}

.menu-icon svg {
    fill: #FFFFFF56;
    transition: 500ms;
}

.menu-item a:hover svg {
    fill: #FFFFFF;
}

.menu-item a.active svg {
    fill: #FFFFFF;
}

/* MENU USER COMPONENT */
.menu-user-component {
    display: none;
}

@media (max-width: 1023px) {
    .menu-user-component {
        display: flex;
        margin-top: 1rem;
    }
}
