/* TOOLS */

.tools-container {
    grid-area: tools;
    margin-top: 3rem;
    margin-left: 2rem;
}

@media (max-width: 1023px) {

    .tools-container {
        margin-left: 0;
    }

}

/* CUSTOMIZATION */

.color-picker {
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    height: 3.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem;
    background-color: #C4C4C401;
}

@media (max-width: 1023px) {

    .resposive-customization-content {
        grid-auto-flow: column;
        grid-auto-columns: calc(50% - 0.5rem);
    }
}

@media (max-width: 767px) {

    .resposive-customization-content {
        grid-auto-flow: row;
        grid-auto-columns: 100%;
    }
}

/* SAVE */

.save-button {
    background-color: #5081FB;
    color: #051D3B;
    transition: 300ms;
}

.save-button:hover {
    background-color: #7BA4FC;
}

.save-button:active {
    background-color: #96B9FD;
}

